
@model IEnumerable<TailorSize>
    @{
    ViewData["Title"] = "Index";
   
    int counter = 1;
    }
  

    <div class="right_col" role="main">

        <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
            <span style="font-weight:bold;">
                <i class="glyphicon glyphicon-user"></i>
                لیست سایز بدن مشتریان برای خیاطی 
            </span>
        </div>

       @* <div style="margin-bottom:5px;">
            <a class="btn btn-primary" asp-controller="Tailor" asp-action="AddSize">
                <i class="glyphicon glyphicon-plus"></i>
                افزودن سایز جدید
            </a>
        </div>*@

        <div>
            @*<div class="table-responsive">*@
            <table class="table table-bordered table-striped table-hover" style="border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
                <thead>
                    <tr>
                        <td>ردیف</td>
                        <td>نام</td>
                        <td>شانه</td>
                        <td>آستین</td>
                        <td>کمر</td>
                        <td>زیر بغل</td>
                        <td>اندازه شلوار</td>
                        <td>اندازه پیراهن</td>
                        <td>توضیجات</td>
                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr style="font-size:13px;">
                        <td style="width:60px; text-align:center;">@counter</td>
                        <td style="text-align:right;">@item.User.FullName</td>
                        <td style="text-align:right;">@item.Shane</td>
                        <td style="text-align:right;">@item.Astin</td>
                        <td style="text-align:right;">@item.Kamar</td>
                        <td style="text-align:right;">@item.ZerBaghal</td>
                        <td style="text-align:right;">@item.Shelwar</td>
                        <td style="text-align:right;">@item.perahan</td>
                        <td style="text-align:right; width:200px">@item.Detail</td>
                        

                        <td>

                            <div class="row">
                                
                                <a asp-controller="Tailor" asp-action="Edit" asp-route-id="@item.Id"
                                   style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                   class="btn btn-warning" title="ویرایش">
                                    <i class="glyphicon glyphicon-edit"></i>

                                </a>

                            </div>

                        </td>
                    </tr>
                    counter++;
                }

                </tbody>
            </table>

        </div>
    </div>


    @Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Large })

    @section AdminScript{
        <script src="~/js/modal/modal.js"></script>
    }
