
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    //Layout = "_AdminLayout";
    int counter = 1;
}
<style>
    .customblue {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #6ee1be;
    }

    .customyellow {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #dce16e;
    }

    .customred {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #e17c6e;
    }

    .customgreen {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #77f272;
    }
</style>

<div class="right_col" role="main">

    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-user"></i>
            لیست کاربران سامانه
        </span>
    </div>

    <div style="margin-bottom:5px;">
        <a class="btn btn-primary" asp-controller="UserManager" asp-action="AddUser">
            <i class="glyphicon glyphicon-plus"></i>
            افزودن کاربر جدید
        </a>
    </div>

    <div>
        @*<div class="table-responsive">*@
        <table class="table table-bordered table-striped table-hover" style="border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
            <thead>
                <tr>
                    <td>ردیف</td>
                    <td>نام</td>
                    <td>فامیلی</td>
                    <td>شماره تماس</td>
                    <td>کدپرسنلی</td>
                    <td>نام کاربری</td>
                    <td>تصویر</td>
                    <td>امضا</td>
                    <td>وضعیت</td>
                    <td>عملیات</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-size:13px;">
                        <td style="width:60px; text-align:center;">@counter</td>
                        <td style="text-align:right;">@item.FullName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.UserName</td>
                        <td style="padding:2px; text-align:center;">
                            <img src="~/upload/userimage/@item.Profile" style="width:60px; height:65px;" />
                        </td>
                        

                        @if (item.IsActive)
                        {
                            <td style="width:35px; color:black;">
                                <span class="badge badge-success" style="width:50px; border-radius:15px; background-color:#1d6d0b">
                                    فعال
                                </span>
                            </td>
                        }
                        else
                        {
                            <td style="width:35px; color:black;">
                                <span class="badge badge-danger" style="width:50px; border-radius:15px; background-color:darkred">
                                    غیرفعال
                                </span>
                            </td>
                        }
                        <td>

                            <div class="row">
                                <a asp-controller="UserManager" asp-action="UserDetails" asp-route-userId="@item.Id"
                                   style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                   class="btn btn-info" title="جزییات">
                                    <i class="glyphicon glyphicon-book"></i>

                                </a>

                                <a asp-controller="UserManager" asp-action="EditUser" asp-route-userId="@item.Id"
                                   style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                   class="btn btn-warning" title="ویرایش">
                                    <i class="glyphicon glyphicon-edit"></i>

                                </a>

                                @if (item.IsActive)
                                {
                                    <a asp-controller="UserManager" asp-action="ActiveDeActiveUser" asp-route-userID="@item.Id"
                                       asp-route-IsActive="@item.IsActive" data-toggle="modal" data-target="#modal-action"
                                       style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                       class="btn btn-danger" title="غیرفعال">
                                        <i class="glyphicon glyphicon-remove"></i>

                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="UserManager" asp-action="ActiveDeActiveUser" asp-route-userID="@item.Id"
                                       asp-route-IsActive="@item.IsActive" data-toggle="modal" data-target="#modal-action"
                                       style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                       class="btn btn-success" title="فعال">
                                        <i class="glyphicon glyphicon-ok"></i>

                                    </a>
                                }
                                <a asp-controller="UserManager" asp-action="ChangePasswordbyAdmin" asp-route-userId="@item.Id"
                                   asp-route-FullName="@item.FullName"
                                   data-toggle="modal" data-target="#modal-action"
                                   style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                   class="btn btn-primary" title=" تغییر رمز عبور کاربر">
                                    <i class="fa fa-key"></i>

                                </a>
                            </div>

                        </td>
                    </tr>
                    counter++;
                }

            </tbody>
        </table>
       
    </div>
</div>


@*@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Large })*@

@section AdminScript{
    <script src="~/js/modal/modal.js"></script>
}
