
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    //Layout = "_AdminLayout";
    int counter = 1;
}
<style>
    .customblue {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #6ee1be;
    }

    .customyellow {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #dce16e;
    }

    .customred {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #e17c6e;
    }

    .customgreen {
        border: 1px solid gray;
        border-radius: 3px;
        color: black;
        background-color: #77f272;
    }
</style>

<div class="right_col" role="main">

    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-user"></i>
            لیست محصولات دلگرم
        </span>
    </div>

  
    <div>
        @*<div class="table-responsive">*@
        <table class="table table-bordered table-striped table-hover" style="border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
            <thead>
                <tr>
                    <td>ردیف</td>
                    <td>نام محصول</td>
                    <td>کتگوری</td>
                    <td>قیمت </td>
                    <td> رنگ</td>
                    <td>نوع تکه</td>
                    <td>پیشنهاد</td>
                    <td>ثبت نام در تاریخ</td>
                    <td>تصویر</td>
                   
                    <td>وضعیت</td>
                    <td>عملیات</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-size:13px;">
                        <td style="width:60px; text-align:center;">@counter</td>
                        <td style="text-align:right;">@item.ProductName</td>
                        <td>@item.Categories.CategoryName</td>
                        <td>@item.MainPrice</td>
                        <td>@item.productColor.ColorName</td>
                        <td>@item.TekaType</td>
                        @if (item.IsPrefered)
                        {
                            <td style="width:35px; color:black;">
                                <span class="badge badge-success" style="width:50px; border-radius:15px; background-color:#1d6d0b">
                                     شده
                                </span>
                            </td>
                        }
                        else
                        {
                            <td style="width:35px; color:black;">
                                <span class="badge badge-danger" style="width:50px; border-radius:15px; background-color:darkred">
                                    نشده
                                </span>
                            </td>
                        }
                        <td>@item.ProductCreate.ToString("MMMM dd yyyy")</td>
                        <td style="padding:2px; text-align:center;">
                            <img src="~/@item.ProductImage" style="width:60px; height:65px;" />
                        </td>
                        

                        @if (item.IsActive)
                        {
                            <td style="width:35px; color:black;">
                                <span class="badge badge-success" style="width:50px; border-radius:15px; background-color:#1d6d0b">
                                    فعال
                                </span>
                            </td>
                        }
                        else
                        {
                            <td style="width:35px; color:black;">
                                <span class="badge badge-danger" style="width:50px; border-radius:15px; background-color:darkred">
                                    غیرفعال
                                </span>
                            </td>
                        }
                        <td>

                            <div class="row">
                                <a asp-controller="Gallery" asp-action="AddPhoto" asp-route-id="@item.Id"
                                   style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                   class="btn btn-info" title="گالری">
                                    <i class="glyphicon glyphicon-book"></i>

                                </a>
                            </div>

                        </td>
                    </tr>
                    counter++;
                }

            </tbody>
        </table>
       
    </div>
</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Large })

@section AdminScript{
    <script src="~/js/modal/modal.js"></script>
}
